@font-face {
  font-family: SPN;
  src: url(fonts/Supernatural_Knight.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-inline: auto;
  color: black;
  font-size: 15px;
  font-family: Gill Sans;
}
html {
  height: fit-content;
  background-image: linear-gradient(
    to bottom right,
    black,
    #660708,
    #a4161a,
    #ba181b,
    #e5383b
  );
}
body {
  background-color: white;
  margin-inline: 20rem;
  padding-top: 1rem;
  padding-inline: 5rem;
}
.buttons a,.grid a,
.monsters a {
  display: inline-block;
  transition: ease-in-out 0.25s;
  border: 2px solid black;
  border-radius: 1rem;
  width: 6rem;
  text-decoration: none;
  text-align: center;
}
.buttons a:hover, .grid a:hover{
  background-color: black;
  color: white;
}
.monsters a:hover{
    background-color: #ba181b;
}
header {
  display: grid;
  grid-template-columns: auto 4rem 4rem 4rem 4rem 7rem;
}
header h2 {
  font-family: SPN;
  margin: 0;
  font-size: 20px;
  color: #ba181b;
}

header a {
  text-decoration: none;
}
main {
  display: grid;
  grid-template-columns: auto 250px;
  margin-top: 2rem;
}
main .img img {
  width: 250px;
}

main h2 {
  font-size: 30px;
  font-weight: bold;
}
main h3 {
  font-size: 20px;
}
main h2,
h3,
p,
.grid {
  padding-block: 5px;
}
h1 {
  font-family: SPN;
  text-align: center;
  padding-block: 15px;
}
.monsters {
  display: grid;
  grid-template-columns: repeat(4, 6.5rem);
  justify-content: center;
  padding: 5px;
}
.monsters a{
  display: grid;
  grid-template-rows: auto auto;
  padding-block: 2px;
  border: 2px solid #ba181b;
  background-color: #f5f3f4;
}
.monsters a img{
  height: 25px;
}
.middle{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.episodes img{
  width: 150px;
  height: 96px;
}
.star img{
  width: 12px;
}
